- cache [itemization, itemization.item] do
  %li{ id: "li_item_#{itemization.item_id}" }
    = link_to '+', itemization.item, remote: true if itemization.item.children.any?
    = link_to itemization.item do
      = itemization.item.articul
      - if itemization.item.name.present? && itemization.item.articul != itemization.item.name
        = " (#{itemization.item.name})"
    = " x #{quantity_for(itemization.quantity)}"
