- cache [itemization, itemization.item] do
  %li@item{ id: "li_item_#{itemization.item_id}" }
    - if itemization.item.children.any?
      %span.tree__trigger@trigger
    = link_to itemization.item do
      = itemization.item.full_name
    = " x #{quantity_for(itemization.quantity)}"
