.nested-fields.form-inline
  .form-group
    = f.autocomplete_field :articul, autocomplete_item_articul_items_path, id_element: "[name='#{f.object_name}[item_id]']", class: 'numeric float required form-control', value: f.object.try(:item).try(:full_name), placeholder: 'Введите артикул'
    = f.hidden_field :item_id
    x
    = f.text_field :quantity, placeholder: Itemization.human_attribute_name(:quantity), class: 'form-control'
    =# f.input :quantity, label: false, error: false, placeholder: Itemization.human_attribute_name(:quantity), class: 'form-control'
    = link_to_remove_association raw("<span class='glyphicon glyphicon-remove'></span>"), f
