%h1
  Редактирование номенклатуры
  = link_to t('back'), [:items], class: 'btn btn-default'

= simple_form_for @item do |f|
  = f.input :name
  = f.input :articul

  %h3 Состоит из
  #itemizations
    = f.simple_fields_for :itemizations do |itemization|
      = render 'itemization_fields', f: itemization
    .links.row
      = link_to_add_association 'Добавить', f, :itemizations, class: 'btn btn-default'
  %br
  .row
    = f.submit t('save'), class: 'btn btn-primary'
    или
    = link_to t('cancel'), [:items], class: 'btn btn-default'
