%h1
  Редактирование номенклатуры
  = link_to t('back'), [:items], class: 'btn btn-default'

= simple_form_for @item, wrapper: :horizontal_form, html: { class: 'form-horizontal' } do |f|
  - if @item.errors.any?
    %ul
      - @item.errors.full_messages.each do |error|
        %li= error
  .form-group.form-inline
    = f.label :category_id, class: "string required col-sm-3 control-label"
    .col-sm-9
      = f.input :category_id, collection: ancestry_options(Category.arrange(order: 'position')) { |i| i.name }, label: false
      = link_to t('new'), new_category_path, class: 'btn btn-default', data: { remote: true }
  = f.input :articul
  = f.input :name

  .form-group
    %label.col-sm-3
    .col-sm-9
      %h3 Состоит из
  #itemizations
    = f.simple_fields_for :parent_itemizations do |itemization|
      = render 'parent_itemization_fields', f: itemization
    .col-sm-5.links
      = link_to_add_association t('new'), f, :parent_itemizations, class: 'btn btn-default'
  %br
  .row
  .form-group
    .col-sm-3
    .col-sm-9
      = f.submit t('save'), class: 'btn btn-primary'
      или
      = link_to t('cancel'), [:items], class: 'btn btn-default'
