%h1
  Редактирование номенклатуры
  = link_to t('back'), [:items], class: 'btn btn-default'

= simple_form_for @item do |f|
  = f.input :articul
  = f.input :name

  %h3 Состоит из
  #itemizations
    = f.simple_fields_for :parent_itemizations do |itemization|
      = render 'parent_itemization_fields', f: itemization
    .links.row
      = link_to_add_association t('new'), f, :parent_itemizations, class: 'btn btn-default'
  %br
  .row
    = f.submit t('save'), class: 'btn btn-primary'
    или
    = link_to t('cancel'), [:items], class: 'btn btn-default'
