.row
  .col-lg-4
    %span.header Изделия
  .col-lg-4
    = form_tag url_for(params.except(:search, :utf8, :commit)), method: :get do
      .input-group
        = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Поиск'
        .input-group-btn
          - if params[:search].present?
            = link_to url_for(params.except(:search, :utf8, :commit)), class: 'btn btn-danger' do
              %span.glyphicon.glyphicon-remove
          = submit_tag "Поиск", class: 'btn btn-default'
  .col-lg-4
    = link_to [:new, :item], class: 'btn btn-primary' do
      .glyphicon.glyphicon-plus{ 'aria-hidden' => "true" }
      = t('.new')
.row
  %ul.nav.nav-tabs
    %li{ class: "#{'active' unless params[:tab].present? }" }= link_to 'Все', [:items]
    %li{ class: "#{'active' if params[:tab] == 'basic' }" }= link_to 'Базовые', '/items/basic'
    %li{ class: "#{'active' if params[:tab] == 'complex' }" }= link_to 'Сборные', '/items/complex'

.row
  - if @items.any?
    %table.table
      %thead
        %tr
          %th Название
          %th Артикул
          %th
      %tbody
        - @items.all.each do |item|
          %tr
            %td= link_to item.name, item
            %td= link_to item.articul, item
            %td
              .btn-group
                = link_to 'Ред.', [:edit, item], class: 'btn btn-default btn-sm'
                = link_to [item], method: :delete, confirm: 'Точно удалить?', class: 'btn btn-danger btn-sm' do
                  %span.glyphicon.glyphicon-remove= t('delete')
    = paginate @items
  - else
    %h2 Вы пока не добавили ни одного изделия
    %p
      Начните с добавления базовых изделий. Базовые изделия являются неделимыми, из них состоят сборные изделия.
    = link_to [:new, :item], class: 'btn btn-primary' do
      .glyphicon.glyphicon-plus{ 'aria-hidden' => "true" }
      = t('.new')
