%h1
  = @item.name
  .btn-group
    = link_to t('back'), [:items], class: 'btn btn-default'
    = link_to t('edit'), [:edit, @item], class: 'btn btn-primary'

- if @item.children_count > 0
  %h2 Состоит из:
  = render @item, css: 'tree', evil_block: "tree"

- if Itemization.where(item_id: @item.id, account_id: account.id).any?
  %h2 Участвует в:
  %table.table
    %thead
      %tr
        %th= Item.human_attribute_name(:articul)
        %th= Item.human_attribute_name(:name)
        %th= Itemization.human_attribute_name(:quantity)
    %tbody
      - @item.parents.each do |item|
        %tr
          %td= link_to item.articul, item
          %td= link_to item.name, item
          %td= quantity_for(item.quantity)
