= render 'items/sidebar'
.row
  .col-lg-4
    %span.header Изделия
  .col-lg-4
    = form_tag url_for(params.except(:search, :utf8, :commit)), method: :get do
      .input-group
        = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Поиск'
        .input-group-btn
          - if params[:search].present?
            = link_to url_for(params.except(:search, :utf8, :commit)), class: 'btn btn-danger' do
              %span.glyphicon.glyphicon-remove
          = submit_tag "Поиск", class: 'btn btn-default'
  .col-lg-4
    = link_to [:new, :item], class: 'btn btn-primary' do
      .glyphicon.glyphicon-plus{ 'aria-hidden' => "true" }
      = t('new')
= render 'tabs'

%ul
  - @objects.each do |c|
    %li
      - if c.is_a?(Itemization)
        = link_to '+', '#' if c.children_count > 0
        = link_to link_name(c), tree_items_path(object_id: c.item.id, object_type: c.item.class.name)
      - elsif c.is_a?(Item)
        = link_to '+', '#' if c.children_count > 0
        = link_to c.name, tree_items_path(object_id: c.id, object_type: c.class.name)
      - else
        = link_to c.name, tree_items_path(object_id: c.id, object_type: c.class.name)
