.row
  .col-lg-4
    %span.header Категории
  .col-lg-4
    = link_to [:new, :category], class: 'btn btn-primary' do
      .glyphicon.glyphicon-plus{ 'aria-hidden' => "true" }
      = t('new')
.row
  - if @categories.any?
    - cache [Category.maximum(:updated_at).to_i] do
      %ul= render partial: 'category', collection: @categories, as: :category

    = sortable sort_categories_path
  - else
    %h2 Вы пока не добавили ни одной категории
    %p
      Начните с добавления корневых категорий. Затем добавьте наследников
    = link_to [:new, :category], class: 'btn btn-primary' do
      .glyphicon.glyphicon-plus{ 'aria-hidden' => "true" }
      = t('new')
