%tr
  %td= link_to item.articul, item
  %td= link_to item.name, item
  %td= quantity_for(quantity)
  %td= quantity_for(plan_quantity*quantity)

- item.tree.each do |item, quantity|
  %td
    = render partial: "item", locals:{ item: item, quantity: quantity, plan_quantity: plan_quantity}